body{

  background:linear-gradient(rgba(5,68,94,1),rgba(24,154,180,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
	
	color:white;
}

ul {
	
	color:white;
}




